<!doctype html>
<html>

<head>
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Signup Form</title>
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/style.css" rel="stylesheet">
</head>
<body>
<section class="container-fluid">
    <header class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <form>
                    <label>Name</label>
                    <input name="name" placeholder="Type Here" required >

                    <label>Email</label>
                    <input name="email" type="email" placeholder="Type Here" require>

                    <label>Address</label>
                    <textarea name="address" placeholder="Type Here" required >

							</textarea> &nbsp;

                    <input id="submit" name="submit" type="submit" value="Submit">

                </form>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <figure>
                    <img src="images/1.jpg">
                </figure>
            </div>
        </div>

    </header>
    &nbsp;&nbsp;
    <article class="container-fluid">
        <div class="container">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-md-4">
                        <a href="images/viswa.jpg" class="thumbnail">
                            <p> UI Consultancy</p>
                            <img src="images/logo.png"  class="img-rounded" alt="mythri logo" style="height:150px;">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="images/fb.png" class="thumbnail">
                            <p> Team work</p>
                            <img src="images/logo2.png" class="img-rounded" alt="mythri logo">
                        </a>
                    </div>
                    <div class="col-md-4">
                        <a href="images/goodwork.jpg" class="thumbnail">
                            <p> Keep Up the GOOD WORK</p>
                            <img src="images/notebook.png" class="img-rounded" alt="mythri logo">
                        </a>
                    </div>
                </div>
            </div>
        </div>


    </article>
    <footer></footer>
</section>
</body>